<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animales</title>
</head>

<body>
    <h1> Bienvenidos a el zoologico</h1>
    <div>
        <a href="https://www.elconfidencial.com/alma-corazon-vida/2021-11-22/no-intentes-esconderte-de-tu-gato_3323340/"
            target="_blank"><img src="../public/img/gato.jpg" alt="gato">
            <height="50" width="50">
                </height>
        </a>
    </div>
    <img src="../public/img/gato.jpg" alt="gato">
    <height="50" width="50">
        <img src="..public/img/perro.jpg" alt="perro">

        <iframe width="716" height="573" src="https://www.youtube.com/embed/ngAdALlH20U" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
</body>

</html>